.token {
    background-size: contain;
    background-position: center;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden {
    visibility: hidden;
}
