#boardgame {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: auto;

    justify-content: center;
}

#left-column {
    align-self: stretch;
    margin-right: 0em;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    min-width: 6em;
}

#logs {
    flex-grow: 1;
}

#middle-shop {
    display: flex;
    flex-direction: column;
}

#right-column {
}
