<div id="boardgame">
    <div id="left-column">
        <app-patron-shop></app-patron-shop>
        <app-logs></app-logs>
    </div>
    <div id="middle-shop">
        <div><app-token-shop></app-token-shop></div>
        <app-card-shop></app-card-shop>
    </div>


    <div>
        <app-info-cpu *ngFor="let cpu of this.board_state.CPUS; let i=index"
        [cpu]="cpu"
        [cpuId]="i"></app-info-cpu>
        <app-info-player></app-info-player>
        <app-reserved-cards></app-reserved-cards>
    </div>
</div>
