.token {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 125%;
    margin-right: 10px;
    font-weight: bold;
  }

.white-token {
    background-color: #fafdff;
}

.blue-token {
    background-color: #68aed4;
}

.green-token {
    background-color: #10d275;
}

.red-token {
    background-color: #d62411;
}

.black-token {
    background-color: #16171a ;
    color: #fafdff
}

.gold-token {
    background-color: #ffd100 ;
}
  