#card{
    width: 5em;
    height: 7.5em;
    background-repeat: no-repeat;
    background-size: 100%;
    margin:0.5em;
    margin-bottom: 0em;
}


#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;

}
button {

  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;

  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 11px;
  padding: 0 5px 0 5px;
  text-align: center;
  width: 5em;
  height: 90%;
}

button:hover {
  background-color: #f7fafa;
}

button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

#notbuyable {
  background-color: #666;
  border: 1px solid #777;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  color: lightgray;

  margin-bottom: 1%;
}

#buyable {
  background-color: #fff;
  margin-bottom: 1%;
}
