
<div class="flex">
<app-token id='tokens'
        class="token click-me"
        *ngFor="let tokenQuantity of getRealTokenList(); let i = index"
        [color]="i"
        [quantity]="tokenQuantity"
        [show]="true"
        (click)="buyToken(i)"
        ></app-token>

</div>

<div class="flex">
<app-token id='tokens'
        class="token click-me"
        *ngFor="let tokenQuantity of getTokensToBuy(); let i = index"
        [color]="i"
        [quantity]="tokenQuantity"
        [show]="true"
        (click)="cancelToken(i)"

        ></app-token>
<button (click)="buyTokensConfirmation()">Confirm selection</button>
</div>
