.info_box {
    display: grid;
    border-bottom: solid white;
    padding-left: 5%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 2%;
    color:white;
}

.line {
    display: inline-flex;
    padding-bottom: 5%;
}

#tokens {
    margin: -2%;
}


#victorypoints {
    position: relative;
    left: 250px;
}

#text {
    font-weight: bold;
    padding-bottom: 0%;
}
